@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    color: #c9c9c9;
    display: none;
}
*{
    font-family: 'Nunito Sans';   
}
.box-shadow{
    box-shadow: 0 10px 10px #0000000f, 5px 0 10px #0000000b;
}
.box-shadow-dark{
    box-shadow: 0 10px 10px #00000020, 5px 0 10px #00000020;   
}